body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/bgImage.png);
  background-repeat: no-repeat  ; 
  object-fit: cover;
  font-family: Rubik, sans-serif;
  background-size: cover;           
  background-position: center;      
  background-attachment: fixed; 
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
